.ipynb_checkpoints/
./*/.ipynb_checkpoints/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

*_cache/
/admin/
/cache/
/labs/cache/
/labs/old/
/labs/future/
/lectures/old/
/lectures/future/
/notebooks/cache/


/.quarto/
.Rproj.user
_quarto.yml
_quarto.yml
docs/general/setup.html
.DS_Store